{% comment %}
  Renders a product media gallery. Should be used with 'media-gallery.js'
  Also see 'product-media-modal'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant
  - limit: {Number} (optional) When passed, limits the number of media items to render

  Usage:
  {% render 'product-media-gallery' %}
{% endcomment %}

{%- liquid
    assign has_variant = false
    if product.has_only_default_variant == false
        assign has_variant = true
    endif

    if has_variant
        assign media_count = product.selected_or_first_available_variant.metafields.custom.variant_images.value.count
    else
        assign media_count = product.media.size
    endif

    if media_count == 0 or section.settings.mobile_thumbnails == 'show' or section.settings.mobile_thumbnails == 'columns' and media_count < 3
        assign hide_mobile_slider = true
    endif

    if section.settings.media_size == 'large'
        assign media_width = 0.65
    elsif section.settings.media_size == 'medium'
        assign media_width = 0.55
    elsif section.settings.media_size == 'small'
        assign media_width = 0.45
    endif
-%}

<media-gallery
  id="MediaGallery-{{ section.id }}"
  role="region"
  {% if section.settings.enable_sticky_info %}
    class="product__column-sticky"
  {% endif %}
  aria-label="{{ 'products.product.media.gallery_viewer' | t }}"
  data-desktop-layout="{{ section.settings.gallery_layout }}"
  has_variant="{{ has_variant }}"
>
  <div id="GalleryStatus-{{ section.id }}" class="visually-hidden" role="status"></div>
  <slider-component id="GalleryViewer-{{ section.id }}" class="slider-mobile-gutter swiper main-product-gallery-swiper js_main-product-gallery-swiper">
    <a class="skip-to-content-link button visually-hidden quick-add-hidden" href="#ProductInfo-{{ section.id }}">
      {{ 'accessibility.skip_to_product_info' | t }}
    </a>
    <ul
      id="Slider-Gallery-{{ section.id }}"
      class="product__media-list contains-media list-unstyled swiper-wrapper"
      role="list"
    >
      {% unless has_variant %}
      {%- for media in product.media -%}
        {% if media_position >= limit
          or media_position >= 1
          and section.settings.hide_variants
          and variant_images contains media.src
        %}
          {% continue %}
        {% endif %}

        {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}1
          <li
            id="Slide-{{ section.id }}-{{ media.id }}"
            class="product__media-item swiper-slide {% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
            data-media-id="{{ section.id }}-{{ media.id }}"
          >
            {%- liquid
              assign media_position = media_position | default: 0 | plus: 1
              assign lazy_load = false
              if media_position > 1
                assign lazy_load = true
              endif
            -%}
            {% render 'product-thumbnail',
              media: media,
              media_count: media_count,
              position: media_position,
              desktop_layout: section.settings.gallery_layout,
              mobile_layout: section.settings.mobile_thumbnails,
              loop: section.settings.enable_video_looping,
              modal_id: section.id,
              xr_button: true,
              media_width: media_width,
              media_fit: section.settings.media_fit,
              constrain_to_viewport: section.settings.constrain_to_viewport,
              lazy_load: lazy_load
            %}
          </li>
        {%- endunless -%}
      {%- endfor -%}
      {% endunless %}
        {%- if product.selected_or_first_available_variant.featured_media != null -%}
          {% style %}.product__modal-opener{pointer-events: none;}.product__media-icon--lightbox{display: none;}{% endstyle %}
          {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
            <li
              id="Slide-{{ section.id }}-{{ featured_media.id }}"
              class="product__media-item swiper-slide"
              data-media-id="{{ section.id }}-{{ featured_media.id }}"
            >
              {%- assign media_position = 1 -%}
              {% render 'product-thumbnail',
                media: featured_media,
                media_count: media_count,
                position: media_position,
                desktop_layout: section.settings.gallery_layout,
                mobile_layout: section.settings.mobile_thumbnails,
                loop: section.settings.enable_video_looping,
                media_width: media_width,
                media_fit: section.settings.media_fit,
                constrain_to_viewport: section.settings.constrain_to_viewport,
                lazy_load: false
              %}
            </li>
            {% comment %} variant gallery {% endcomment %}
          {% unless limit %}
            {% if product.selected_or_first_available_variant.metafields.custom.variant_images.value %}
              {%- capture sizes -%}
                (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | times: media_width | divided_by: desktop_columns | round }}px, (min-width: 990px) calc({{ media_width | times: 100 | divided_by: desktop_columns }}vw - 10rem), (min-width: 750px) calc((100vw - 11.5rem) / 2), calc(100vw / {{ mobile_columns }} - 4rem)
              {%- endcapture -%}
              {% for gallery in product.selected_or_first_available_variant.metafields.custom.variant_images.value %}
                {% assign img_ratio = gallery.image.aspect_ratio %}
                <li
                  id="Slide-slide-{{ section.id }}-{{ forloop.index }}"
                  class="product__media-item swiper-slide"
                  data-media-id="{{ section.id }}-{{ forloop.index }}"
                >
                  <div
                    style="--ratio: {{ img_ratio }}; --preview-ratio: {{ img_ratio }};"
                    class="product-media-container media-type-image media-fit-cover global-media-settings gradient constrain-height"
                  >
                    <div class="product__media media media--transparent">
                      {{
                        gallery
                        | image_url: width: 1946
                        | image_tag:
                        loading: 'lazy',
                        fetchpriority: 'low',
                        widths: '400, 620, 690, 810, 980, 1240, 1380, 1620, 1960',
                        sizes: sizes
                      }}
                    </div>
                  </div>
                </li>
              {% endfor %}
            {% endif %}
          {% endunless %}
        {%- endif -%}
    </ul>

    <div class="swiper-button-next main-product-gallery__button-next">
      <div class="hidden">Next</div>
    </div>
    <div class="swiper-button-prev main-product-gallery__button-prev">
      <div class="hidden">Prev</div>
    </div>
    <div class="swiper-pagination main-product-gallery__pagination">
      <div class="hidden">Pagination</div>
    </div>
  </slider-component>
</media-gallery>
